.pagination-container {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
.page-btn-normal {
  cursor: pointer;
  margin: "0.25rem";
  font-weight: normal;
}

.page-btn-bold {
  cursor: pointer;
  margin: "0.25rem";
  font-weight: bold;
}
